:root {
	--bg-primary: #fff;
	--bg-secondary: #f4f4f4;
	--bg-active: #393939;
	--text-primary: #393939;
	--text-secondary: #6f6f6f;
	--border-radius: 0.8rem;
	--shadow: 0px 8px 24px -16px rgba(0, 0, 0, 0.15);
	--link-hover: #f7f7f7;
	--link-active: #f0f0f0;

	&[data-theme='dark'] {
		--bg-primary: #161616;
		--bg-secondary: #262626;
		--bg-active: #e0e0e0;
		--text-primary: #e0e0e0;
		--text-secondary: #8d8d8d;
		--shadow: 0px 8px 24px -16px rgba(255, 255, 255, 0.15);
		--link-hover: #262626;
		--link-active: #393939;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 62.5%;
	font-family: var(--source-sans);
	font-weight: 400;
	line-height: 150%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-primary);
	overflow-x: hidden;
}

a,
a:visited {
	text-decoration: none;
	display: inline-block;
}

a:focus,
a:active,
a:hover {
	outline: none;
}

aside,
nav,
footer,
header,
main,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

img,
svg {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

input,
textarea,
button,
select _ {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:active,
input:focus,
button:active,
button:focus {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}
